<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InceptionSphere</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Bem-vindo ao InceptionSphere</h1>
    <a href="/auth/register">Registrar</a>
    <a href="/auth/login">Login</a>
    <a href="/product">Ver Produtos</a>
</body>
</html>
