<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Registrar</h1>
    <form action="/auth/register" method="POST">
        <label for="email">Endereço de email</label>
        <input type="email" name="email" required>
        <label for="nickname">Apelido</label>
        <input type="text" name="nickname" required>
        <label for="password">Senha</label>
        <input type="password" name="password" required>
        <label for="country">País</label>
        <input type="text" name="country" required>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
