<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InceptionSphere</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Registrar</a>
        <a href="/product">Ver Produtos</a>
        <a href="/auth/logout">Logout</a>
    </div>
    <div class="container">
        <h1>Bem-vindo à InceptionSphere</h1>
    </div>
</body>
</html>
