<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="public/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Início</a>
        <a href="/product/add">Adicionar Produto</a>
        <a href="/auth/logout">Logout</a>
    </div>
    <div class="container">
        <h1>Produtos</h1>
        <ul id="products-list"></ul>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
