<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="public/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Início</a>
        <a href="/product">Ver Produtos</a>
        <a href="/auth/logout">Logout</a>
    </div>
    <div class="container">
        <h1>Perfil</h1>
        <p>Email: <span id="user-email"></span></p>
        <p>Apelido: <span id="user-nickname"></span></p>
        <p>País: <span id="user-country"></span></p>
        <a href="/auth/logout">Logout</a>
    </div>
    <script src="/js/auth.js"></script>
</body>
</html>
